ol>li:nth-child(even) {
    background-color: grey;
}

  /* pseudo-elemento marker */
ul>li::marker {
    content: '☠️';
    font-size: 1.1em;
}

ul>li:last-child::marker {
    content: '✔️';
    font-size: 1.5em;
}