/***casting.html***/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

:root {
    --dark: #19161f;
    --light: #f3f3f3;
    --primary: #b35aab;
    --primaryHover: #cf6324;
    --second: #7399c0;
    --secondHover: #3cca9b;
}

/* Header */
header {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 1000;
   
}

.nav {
    display: flex;
    gap: 40px;
}

.nav li {
    list-style: none;
    margin: 0 10px;
}

.nav li a {
    color: var(--light);
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

a, a:hover {
    text-decoration: none;
}

body {
    background-color: var(--dark);
}

.container {
    position: absolute;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    height: 350px;
    cursor: pointer;
    width: 250px;
    position: relative;
    left: 0px;
    box-shadow: -1rem 0 3rem var(--primary);
    margin-left: -50px;
    border-radius: 10px;
    transition: 0.4s ease-out; /* Only one transition declaration */
    background-image: radial-gradient(circle farthest-corner at 10% 20%, var(--second) 14.2%, var(--secondHover) 89.5%);
    padding: 20px; /* Ensures content doesn't touch the edges */
    overflow: hidden;
    background-color: var(--light);
}

.card:not(:first-child) {
    margin-left: -80px;
}

.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
    background-image: radial-gradient(circle 523px at 7.1% 19.3%, var(--primary), var(--primaryHover), #00008B);


}


.card:hover~ .card {
    position: relative;
    left: 50px;
    transform: translateY(-20px);
    transition: 4s ease-out;

}



.title {
    color: var(--dark);
    font-size: 12px;
    font-family: 300;
    position: absolute;
    left: 20px;
    top: 15px;
}
 
.bar {
    position: absolute;
    top: 50px;
    left: 20px;
    height: 3px;
    width: 250px;
    
}

.emptybar {
    background-color: var(--second);
    width: 75%;
    height: 100%;
}

.fillebar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0%;
    height: 100%;
    background: var(--primaryHover);
    transition: 0.4s ease-out;
}

.card:hover .fillebar {
    width: 150px;
    transition: 0.4s ease-out;

}



.profile-detail {
    width: 100%;
    position: absolute;
}
 .profile-detail img {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 68px;
    left: 20px;
    border-radius: 50%;

 }

 .profile-detail .name {
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: 156px;
    left: 20px;
    color: var(--dark);
 }

 .profile-detail .post-title {
    position: absolute;
    top: 194px;
    left: 20px;
    color: var(--dark);
    font-size: 11px;

 }

.profile-detail .post-description {
    position: absolute;
    top: 225px;
    left: 20px;
    color: var(--dark);
    font-size: 10px;
    padding-right: 60px;

}

.profile-detail .button {
    font-size: 10px;
    padding: 5px 0px;
    position: absolute;
    top: 300px;
    left: 20px;
    width: 135px;
    border: 1px solid var(--dark);
    color: var(--primaryHover);
    text-align: center;
    border-radius: 20px;
    background-color: var(--dark);
}


 

