/* styles.css - estilos generales */

body {
    background-image: url('wood.png'); /* Background image directly in project folder */
    background-size: cover; /* Cover the entire body area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    font-family: Arial, sans-serif;
    text-align: left; /* Text aligned to the left */
    margin: 0; /* No margin */
    padding: 0; /* No padding */
}
header {
    padding: 20px; /* Espacio alrededor del encabezado */
}

#title-principal {
    color: rgb(64, 134, 55);
    font-size: 2.5em; /* Tamaño de fuente del título */
    text-align: center;
}

.section {
    margin: 20px auto; /* Margen automático para centrar */
    width: 75%; /* Ancho de la sección */
}

h2 {
    color: rgb(147, 202, 209);
}

h3 {
    color: rgb(60, 140, 60);
}

.ingredients-title {
    color: rgb(29, 219, 194);
}

ul {
    text-align: left; /* Alineación a la izquierda para listas */
    color: rgb(219, 199, 17);
}
.instructions-title {
    color: rgb(29, 219, 194); /* Cambia el color del título de instrucciones */
}

.instructions-text {
    color: rgb(228, 199, 35); /* Cambia el color del texto de instrucciones */
}

.right-image {
    border-radius: 15px; /* Hace que las esquinas de la imagen sean redondeadas */
}

/* Estilo para el pie de página */
footer {
    background-color: rgba(14, 11, 11, 0.3); /* Fondo oscuro con un poco de transparencia */
    color: rgb(236, 239, 245); /* Color del texto */
    text-align: center; /* Centrar el texto */
    padding: 100px 50px; /* Aumentar el padding superior e inferior, y añadir unidades al padding lateral */
    margin-top: 120px; /* Añadir un margen superior para desplazarlo hacia abajo */
    width: 100%; /* Asegurar que el ancho del footer ocupe todo el espacio */
}



/* Pseudo-elemento para el título principal */
#title-principal::after {
    content: " 🌮"; /* Emoji de taco al final del título */
}
