body {
    font-family: Arial, sans-serif;
}

h2 {
    font-size: 20px;
    margin-bottom: 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto; /* Equal column width */
}

th, td {
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    font-size: 25px;
}

/* Tabla principal */
#Horario {
    background-color: #99ff00; /* Bright Green for time column */
    font-weight: normal;
    font-size: 25px;
}

/* Encabezado de la Tabla */
.encabezado {
    background-color: #ffebcd;
    color: rgb(17, 14, 14);
}

/* Specific Colors */
.horario {
    background-color: #99ff00; /* Bright Green for time column */
    font-weight: normal;
    font-size: 25px;
} 
.formacion {
    background-color: #cceeff; /* Light Blue for Training */
    color: #000000; /* Black text */
    font-size: 16px;
}
.sprint {
    background-color: #ff0000; /* Bright Red for Sprint Review */
    color: #000000; /* Black text */
    font-style: italic;
    font-size: 16px; 
}
.daily {
    background-color: #f8d7da; /* Light Pink for Daily Scrum */
    color: #800000; /* Dark Red text */
    font-style: italic;
    font-size: 16px; 
}

.almuerzo {
    background-color: #ffff33; /* Bright Yellow for Lunch */
    font-weight: normal;
    font-size: 25px;
    color: #867d7d; /* Black text */
}
.sprint-retrospective {
    background-color: #ff0000; /* Bright Red for Sprint Retrospective */
    color: #000000;
    font-size: 18px;
    font-weight: italic;
}
