/* General border for table, td, and th */
table, td, th {
    border: 1px solid black; /* Border color and style */
}

table {
    width: 100%; /* Makes the table take the full width */
    border-collapse: collapse; /* Merges borders to avoid double borders */
}

/* Styles for the main table header */
#Horario {
    width: 17%; /* Specific width for the Horario column */
    font-family: Arial, sans-serif; /* Font style */
    background-color: #bcf734; /* Light green background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

/* Header row style */
.encabezado {
    background-color: #eed5c5; /* Light skin color */
    font-family: Arial, sans-serif; /* Font style */
    color: rgb(17, 14, 14); /* Text color */
}

/* Specific styles for cells */
.horario {
    background-color: #bcf734; /* Green for horario column */
    color: rgb(7, 14, 17); /* Dark text color */
    font-weight: bold; /* Bold text */
    text-align: center; /* Center-aligns text */
    width: 10%; /* Fixed width for horario cells */
}

.formacion {
    background-color: #d0eeee; /* Light blue for formación */
    color: rgb(7, 14, 17); /* Dark text color */
    font-weight: bold; /* Bold text */
    text-align: center; /* Center-aligns text */
}

.sprint {
    background-color: hsl(0, 94%, 52%); /* Red for sprint activities */
    color: rgb(7, 14, 17); /* Dark text color */
    font-weight: bold; /* Bold text */
    text-align: center; /* Center-aligns text */
}

.daily {
    background-color: #e2aed7; /* Pink for daily scrum */
    color: rgb(7, 14, 17); /* Dark text color */
    font-weight: bold; /* Bold text */
    text-align: center; /* Center-aligns text */
}

.almuerzo {
    background-color: #ffff99; /* Yellow background for Almuerzo */
    font-weight: bold; /* Bold text */
    text-align: center; /* Centers the text within the cell */
    width: 80%; /* Width of Almuerzo cell when colspan is applied */
    border: none; /* Remove border to improve appearance if needed */
    font-style: italic; /* Italics for emphasis */
}
