/* links.css - estilos para enlaces */
a {
    color: #FFD700; 
    font-size: 1.2em; 
    text-decoration: underline; /* Subrayar enlaces */
}

/* Estilo para enlaces al pasar el ratón */
a:hover {
    color: rgb(#333); 
    font-weight: bold; /* Hacer negrita al pasar el ratón */
}
