.wrapper {
    padding: 20px;
}
/* Sidebar Styles */
.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 20px 0;
  }
  
  .sidebar ul li a,
  .sidebar ul li button {
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .sidebar ul li button:hover,
  .sidebar ul li a:hover {
    text-decoration: underline;
  }
  
  /* Content Styles */
  .dashboard-layout {
    display: flex;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  h1, h2, h3 {
    color: #2c3e50;
  }
  